<%= form_for(@complaint) do |f| %>
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% @complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label "title", "Title" %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label "description", "Description" %><br />
    <%= f.text_area :description %>
  </div>
  
  <div>
    <%= f.label "location", "Location" %><br />
    <input type="search" id="search" placeholder="Kuala Lumpur">

    <ul id="search-results">
      <% @locations.each do |location| %>
        <li data-lat="<%= location[2] %>" data-lng="<%= location[1] %>"><%= location[0] %></option>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
