<%= form_for(@complaint) do |f| %>
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% @complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <%= f.label "title", "Title", class: 'label' %>
      <p class="control"><%= f.text_field :title, class: 'input', placeholder:'What\'s the issue?' %></p>

      <%= f.label "description", "Description", class: 'label' %>
      <p class="control"><%= f.text_area :description, class: 'textarea', placeholder:'Describe the problem / issue. Enter as much details as possible.' %></p>
      
      <%= f.label "location", "Location", class: 'label' %>
      <p class="control" style="padding-bottom: 0"><input type="text" class="input" id="search" placeholder="Kuala Lumpur"></p>

    
      <div id="search_results">
        <%= render "shared/search_results", locations: @locations %>
      </div>

       <label class="label">Add Images</label>
      <div class="control file-upload">
        <input type="file">
        <label><i class="fa fa-upload"></i> Upload Images</label>
      </div>

      <p class="control m-t-20 " style="text-align: center;">
        <%= f.submit "Submit Issue", class: 'button is-primary' %>
        <%= link_to "Cancel", complaints_path, class: 'button is-link' %>
      </p>
    </div>
  </div>
<% end %>
