<%= form_for(@complaint) do |f| %>
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% @complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "title", "Title", class: 'label' %>
  <p class="control"><%= f.text_field :title, class: 'input' %></p>

  <%= f.label "description", "Description", class: 'label' %>
  <p class="control"><%= f.text_area :description, class: 'textarea' %></p>

  <%= f.label "agency", "Agency", class: 'label' %>
  <p class="control"><%= f.text_field :agency, class: 'input' %></p>

  <%= f.label "location", "Location", class: 'label' %>
  <p class="control">
    <%= f.text_field :address, class: 'input', id: "search", placeholder: "Kuala Lumpur" %>
  </p>

  <div id="search_results">
    <%= render "shared/search_results", locations: @locations %>
  </div>

  <%= label_tag :image, "Image (optional)", class: "label m-t-10" %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>

  <p class="control">
    <%= image_tag(@complaint.image.thumb, size: '150', class: 'm-t-20') if @complaint.image.present? %>
  </p>

  <% if @complaint.image.present? %>
    <p class="control">
      <label class='radio'>
        <%= f.check_box :remove_image, class: "checkbox" %>
        Remove image
      </label>
    </p>
  <% end %>


  <p class="control m-t-20">
    <%= f.submit "Submit", class: 'button is-primary' %>
    <%= link_to "Cancel", complaints_path, class: 'button is-link' %>
  </p>
<% end %>
