<section class="hero is-medium is-primary">

  <%= render partial: 'layouts/nav' %>
  
  <div class="hero-body has-text-centered">
    <h1 class="title">Crowd-sourced complaints</h1>
    <h2 class="subtitle">Subtitle</h2>

    <a class="button is-white-outline is-outlined">How it works</a>
    <a class="button is-primary is-inverted">Submit Issue</a>
  </div>

</section>

<section class="section">

  <div class="container">
    
    <div class="issue-list level">

      <div class="level-left">
        <div class="vote is-inline-block level-item">
          <a class="vote__up"><i class="fa fa-chevron-up"></i></a>
          <div class="vote__count">200</div>
          <a class="vote__down"><i class="fa fa-chevron-down"></i></a>
        </div>

        <div class="issue-list__content is-inline-block level-item">
          <h4>Title of issue</h4>
          <p><i class="fa fa-map-marker"></i> Location</p>
        </div>
      </div>

      <div class="level-right">
        <div class="issue-list__raised level-item">
          <p>Raised <span>RM120</span></p>
        </div>
      </div>

    </div>

    <div class="issue-list level">

      <div class="level-left">
        <div class="vote is-inline-block level-item">
          <a class="vote__up"><i class="fa fa-chevron-up"></i></a>
          <div class="vote__count">200</div>
          <a class="vote__down"><i class="fa fa-chevron-down"></i></a>
        </div>

        <div class="issue-list__content is-inline-block level-item">
          <h4>Title of issue</h4>
          <p><i class="fa fa-map-marker"></i> Location</p>
        </div>
      </div>

      <div class="level-right">
        <div class="issue-list__raised level-item">
          <p>Raised <span>RM120</span></p>
        </div>
      </div>

    </div>

    <div class="issue-list level">

      <div class="level-left">
        <div class="vote is-inline-block level-item">
          <a class="vote__up"><i class="fa fa-chevron-up"></i></a>
          <div class="vote__count">200</div>
          <a class="vote__down"><i class="fa fa-chevron-down"></i></a>
        </div>

        <div class="issue-list__content is-inline-block level-item">
          <h4>Title of issue</h4>
          <p><i class="fa fa-map-marker"></i> Location</p>
        </div>
      </div>

      <div class="level-right">
        <div class="issue-list__raised level-item">
          <p>Raised <span>RM120</span></p>
        </div>
      </div>

    </div>

  </div>

</section>









<!-- <p id="notice"><%= notice %></p>

<h1>Listing Complaints</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %> -->
