<section class="hero is-medium is-primary">

<!-- 
  <%= render partial: 'layouts/nav' %> -->
  
  <div class="hero-body has-text-centered" style="width: 50%; margin: 0 auto;">
    <h1 class="title">Better living crowdsourced</h1>
    <h2 class="subtitle">Volite is a centralized and localized board for residents to voice-out complaints regarding their local communities and rally up support to take action.</h2>

    <%= link_to "How it works", "", class: "button is-white-outline is-outlined" %>
    <%= link_to "Submit Issue", new_complaint_path, class: "button is-primary is-inverted" %>
  </div>
</section>
<section class="section">
  <div class="container">
      <%= render partial: 'complaint_item', collection: @complaints, as: :complaint %>
  </div>

 <!--  <section class="section">
    <div class="container">
        <%= render partial: 'complaint_item', collection: @complaints, as: :complaint %>
    </div>
  </section> -->
</section>