


 <section class="section">
	<div class="container">
		<div class="issue-list level">

	      <div class="level-left">
	        <div class="vote vote--small is-inline-block level-item">
	          <a class="vote__up"><i class="fa fa-chevron-up"></i></a>
	          <div class="vote__count">200</div>
	          <a class="vote__down"><i class="fa fa-chevron-down"></i></a>
	        </div>

	        <div class="issue-list__content is-inline-block level-item">
	          <h4>Title of issue</h4>
	          <p><i class="fa fa-map-marker"></i> Location</p>
	        </div>
	      </div>

	      <div class="level-right share">
	        <a href="#"><i class="fa fa-facebook"></i></a>
	        <a href="#"><i class="fa fa-twitter"></i></a>
	      </div>

	    </div>
		<div class="columns">
			<div class="column is-three-quarters" style="padding-right: 40px;">

				<div class="photo-slider">
					<ul>
						<li><img src="#" /></li>
						<li><img src="#" /></li>
						<li><img src="#" /></li>
						<li><img src="#" /></li>
					</ul>
				</div>

				<div class="issue-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

			</div>
			<div class="column">
				<div class="issue-support">
					<div class="issue-support__block">
						<h1>123</h1>
						<h4>Supporters</h4>
					</div>

					<div class="issue-support__block">
						<h1>RM 230</h1>
						<h4>Pledged</h4>
					</div>

					<a id="support-modal" class="button is-primary">Pledge your support</a>
				</div>

				<div class="issue-goals">
					<h4>Goals</h4>

					<div class="timeline">
						<div class="goal">
							<div class="goal__icon completed"></div>
							<div class="goal__progress completed"></div>
							<div class="goal__content">
								<h4>RM 50</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>

						<div class="goal">
							<div class="goal__icon completed"></div>
							<div class="goal__progress"></div>
							<div class="goal__content">
								<h4>RM 100</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>

						<div class="goal">
							<div class="goal__icon"></div>
							<div class="goal__progress"></div>
							<div class="goal__content">
								<h4>RM 200</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

 </section>

<!-- <p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>


<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>
    
    <%= render partial: "complaint_item", locals: { complaint: @complaint } %>
  </div>
</section>
 -->