
 <section class="section">
	<div class="container">
		<%= render partial: 'complaint_item_details', locals: {complaint: @complaint} %>
		<div class="columns">
			<div class="column is-three-quarters" style="padding-right: 40px;">

				<div class="photo-slider">
					<ul>
						<li><img src="#" /></li>
					</ul>
				</div>

				<div class="issue-description">
					<p><%= @complaint.description %></p>
				</div>

			</div>
			<div class="column">
				<div class="issue-support">
					<div class="issue-support__block">
						<h1><%= @complaint.total_votes %></h1>
						<h4>Supporters</h4>
					</div>

					<div class="issue-support__block">
						<h1>RM <%= @complaint.total_amount.to_s %></h1>
						<h4>Pledged</h4>
					</div>
					<div>
						<div></div>
						<a id="pay-btn" class="button is-primary">Pledge your support</a>
						<div id="" class="is-hidden complaint-payment-form">
							<%= render partial: 'payments/payment_form', locals: {complaint: @complaint} %>
						</div>
					</div>
				</div>

				<div class="issue-goals">
					<h4>Goals</h4>

					<div class="timeline">
						<div class="goal">
							<div class="goal__icon completed"></div>
							<div class="goal__progress completed"></div>
							<div class="goal__content">
								<h4>RM 50</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>

						<div class="goal">
							<div class="goal__icon completed"></div>
							<div class="goal__progress"></div>
							<div class="goal__content">
								<h4>RM 100</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>

						<div class="goal">
							<div class="goal__icon"></div>
							<div class="goal__progress"></div>
							<div class="goal__content">
								<h4>RM 200</h4>
								<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

 </section>

<!-- <p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>


<section class="section">
  <div class="container">
    <%= render partial: "complaint_item", locals: { complaint: @complaint } %>

    <div class="issue-list level">
      <div class="level-left complaint-img">
        <%= link_to image_tag(@complaint.image.icon, size: '64'), asset_url(@complaint.image), target: '_blank' if @complaint.image.present? %>
      </div>

      <div class="issue-list__content is-inline-block level-item">
        <%= simple_format @complaint.description %>
      </div>
    </div>
  </div>
</section>
 -->