<!DOCTYPE html>
<html>
<head>
  <title>CSComplaints</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>


<%= yield %>


<div id="register-modal" class="modal is-small has-text-centered">
	<div class="modal-background"></div>
	<div class="modal-card">
		<div class="modal-card-body">
			<h2>Create an account</h2>

			<div class="social-login">
				<a class="button facebook-login is-fullwidth" href= '<%= omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first) %> '>
					<i class="fa fa-facebook"></i>
					 Register With Facebook
				</a>
			</div>

			<div class="divider-container">
			<div class="divider-container__line"></div>
			<div class="divider-container__text">OR</div>
			</div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),remote: true, format: :json) do |f| %>
        <%= devise_error_messages! %>
        <%= f.text_field :name, autofocus: true, class: 'input', placeholder: "Name" %>
				<%= f.email_field :email, class: 'input', placeholder: "Email" %>
        <%= f.password_field :password, class: 'input', placeholder: 'Password', autocomplete: "off" %>
        <%= f.password_field :password_confirmation, class: 'input', autocomplete: "off", placeholder: "Confirm Password" %>

				<%= f.submit "Register with Email", class: "button is-fullwidth is-primary" %>
			<% end %>

		</div>
	</div>
	<button class="modal-close"></button>
</div>

<div id="login-modal" class="modal is-small has-text-centered">
	<div class="modal-background"></div>
	<div class="modal-card">
		<div class="modal-card-body">
			<h2>Welcome back</h2>

			<div class="social-login">
        <a class="button facebook-login is-fullwidth" href= '<%= omniauth_authorize_path(resource_name, resource_class.omniauth_providers.first) %> '>
					<i class="fa fa-facebook"></i>
					Sign in with Facebook
				</a>
			</div>

			<div class="divider-container">
			<div class="divider-container__line"></div>
			<div class="divider-container__text">OR</div>
			</div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name),remote: true, format: :json) do |f| %>
        <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Email" %>
        <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "Password" %>

				<input class="button is-fullwidth is-primary" type="submit" value="Sign in with Email">
      <% end %>

		</div>
	</div>
	<button class="modal-close"></button>
</div>



</body>
</html>
